<div class="row" ng-hide="donatee._id">
  <div class="col-md-6">
      <h2>Create new donatee</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>First Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="donatee.firstName" required> 
    </p>
    <p>
      <label>Last Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="donatee.lastName" required> 
    </p>
    <p>
      <label>Email (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="donatee.email" required> 
    </p>
    <p>
      <label>Phone (Mobile)</label> 
      <input id="name" class="form-control" type="text" ng-model="donatee.phone.mobile"> 
    </p>
    <p>
      <label>Phone (Work)</label> 
      <input id="name" class="form-control" type="text" ng-model="donatee.phone.work"> 
    </p>
    <p>
      <label>Address</label> 
      <input id="name" class="form-control" type="text" ng-model="donatee.address"> 
    </p>
    <p>
      <label>Twitter Handle</label> 
      <input id="name" class="form-control" type="text" ng-model="donatee.twitter"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(donatee)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>